.container {
  min-height: 370px;
  padding: 25px 40px;

  background: $branco;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1000px) {
  .container {
    width: 450px;
  }
}
